{{define "title"}}Daniel Apatin{{end}}

{{define "body"}}
<div class="flex items-center w-screen m-auto">
    <div class="m-auto">
        <div class="card m-4 shadow">
            <figure class="mt-8">
                <div class="avatar">
                    <div class="mask mask-hexagon w-24">
                        <img src="/static/favicon.png" />
                    </div>
                </div>
            </figure>
            <div class="card-body">
                <h2 class="card-title justify-center">Daniel Apatin</h2>
                <p>I make elegantly professional <strong>💻 distributed Systems, 📱 iOS apps and 🌐
                        websites</strong> and
                    also <strong>write some blogs</strong>.</p>
                <ul class="flex flex-col gap-2">
                    <li>🧐 Interested in full stack. Recent focus on backend.</li>
                    <li>💼 Senior Back End.</li>
                    <li>📚 Reading more about IT.</li>
                    <li>💻 With 20 years' development working experience and technology education.</li>
                    <li>⛵ Encouraging people for open source collaborations.</li>
                    <li>✍🏻 I write my personal thoughts on Programming &amp; Tech in my <a
                            href="https://blog.apatin.ru/" target="_blank">Personal Blog</a>.</li>
                    <li>🌱 Currently learning <strong>Clickhouse</strong>.</li>
                    <li>❤️ Open Source Software.</li>
                    <li>🐧 Mac OS &amp; Linux.</li>
                    <li>👯 I’m looking to collaborate on <strong>Open Source</strong>.</li>
                </ul>
            </div>
        </div>

        <div class="m-4 flex flex-wrap items-center justify-center gap-4">
            <a role="button" class="btn" href="https://t.me/danielapatin" target="_blank">Telegram</a>
            <a role="button" class="btn" href="https://blog.apatin.ru" target="_blank">Blog</a>
            <a role="button" class="btn" href="https://github.com/ad" target="_blank">Github</a>
        </div>

        <div class="chat chat-start m-4">
            <div class="avatar placeholder chat-image online">
                <div class="w-10 rounded-full bg-neutral text-neutral-content">
                    <span class="text-xl">OK</span>
                </div>
            </div>
            <div class="chat-header">
                Obi-Wan Kenobi
                <time class="text-xs opacity-50">12:45</time>
            </div>
            <div class="chat-bubble">You were the Chosen One! It was said that you would destroy the Sith, not join
                them!
                Bring balance to the Force, not leave it in darkness!</div>
        </div>

        <div class="chat chat-end m-4">
            <div class="avatar chat-image">
                <div class="mask mask-hexagon w-10">
                    <img src="/static/favicon.png" />
                </div>
            </div>
            <div class="chat-bubble">
                Hi, how are you?
            </div>
            <div class="chat-footer opacity-50">Delivered</div>
        </div>
    </div>
</div>
{{end}}